@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

* {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
background-image:  url("../images/backgroundImg.png");
}

header{
    background-color: #00E1C6;
    top: 0%;
    left: 0%;
    right: 0%;
    font-size: 3rem;
    position: relative;
}

ul {
    list-style-position: inside;
}
footer{
    background-color: #00E1C6;
    position: absolute;
    bottom: 0%;
    width: 100%;
    position: fixed;
}

input[type=text] {
    background-color: #9AD3FF;
    font-size: 1rem;
    margin: 0;
}

label {
    font-size: 1.5rem;
}

.welcomeImg{
    height: 12rem;
    width: 25rem;
}

.logInBtn, .signInBtn, .logOutBtn, .saveBtn{
    background-color: green;
    font-size: 1rem;
    color: white;
}

.logOutBtn{
    background-color: red;
}

.saveBtn{
    background-color: blue;
}

/* estilo de la tabla */
